let computed_fixed_point_test0_%MAGIC% =
  computed_fixed_point (=) (fun x -> x / 2) 1000000000 = 0
let computed_fixed_point_test1_%MAGIC% =
  computed_fixed_point (=) (fun x -> x *. 2.) 1. = infinity
let computed_fixed_point_test2_%MAGIC% =
  computed_fixed_point (=) sqrt 10. = 1.
let computed_fixed_point_test3_%MAGIC% =
  ((computed_fixed_point (fun x y -> abs_float (x -. y) < 1.)
			 (fun x -> x /. 2.)
			 10.)
   = 1.25)
