let computed_periodic_point_test0_%MAGIC% =
  computed_periodic_point (=) (fun x -> x / 2) 0 (-1) = -1
let computed_periodic_point_test1_%MAGIC% =
  computed_periodic_point (=) (fun x -> x *. x -. 1.) 2 0.5 = -1.
